:root
{

    --theme-color : #b88b58;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* menu */
header .menu
{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu nav
{
    margin-left:5rem;
}
header .menu nav a
{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 1rem;
    height: 5rem;
}
header .menu nav a:hover
{
    opacity: 0.8;

}
/* header .menu nav a::after
{
    content: "";
    background-color: brown;
    height: 2px;
    width: 3rem;
    position: absolute;
    margin-top: 3rem;
} */

/* header backgroung  */
.background 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background h1
{
    font-size: 4vw;
    
}
.background img
{
    width: 100%;
    height:44.619vw;
    object-fit: cover;
}
/* background content */
.slide1
{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: white;
    height:auto;
}
.slide1 span
{
    color:var(--theme-color) ;
}
.slide1 .button
{
    margin-top: 3rem;
}
.button a
{
    text-decoration: none;
    color: white;
    background:var(--theme-color);
    border-radius: 2rem;
    padding: .5rem 2rem ; 
} 
/* slides button  */
.slide_button
{
    display: flex;
    justify-content: center;
}
.slide_button .radio
{
    cursor: pointer;
    border: 1px solid var(--theme-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin-top: 5rem;
    margin-right: 1rem;
}


/* about us */
main
{
    text-align: center;
}
main h2
{
    font-size: 2.5vw;
}
main h5
{
    font-size: 1.5vw;
    color: gray;
}
#about_us
{
    margin-top: 3rem;
}
#about_us h5
{
    margin-bottom: 3rem;
}
.about_content
{
    width: 100%;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr .7fr;
    margin-bottom: 4rem;
    
}
.about_content img
{
    box-shadow: 10px 10px 5px grey;
}
.about_text 
{
    margin-left: 7rem;
}
.about_text p
{
    width: 80%;
    margin-bottom:2rem ;
}

/* services */
#services
{
    margin-top: 2rem;
    background: black;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    padding:2rem;
}
#services h2
{
    margin-top:1rem;
}
.labels
{
    margin: 3rem ;
    display: grid;
    grid-template-columns: repeat(4,.2fr);  
    column-gap: 2rem;
    justify-content: center;  
}
.labels h6
{
    color: gray;
}